<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/></head>
<body>
<!-- areaChart(chartId, labels, data, datasetLabel) -->
<div th:fragment="areaChart(chartId, labels, data, datasetLabel)">
  <div class="card-body">
    <div class="chart-area">
      <canvas th:attr="id=${chartId}"></canvas>
    </div>
  </div>

  <!-- 캔버스 바로 뒤에서 호출(Chart.js와 chart-area-fn.js가 먼저 로드되어 있어야 함) -->
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
      var ctx = document.getElementById(/*[[${chartId}]]*/ 'myAreaChart');
      var labels       = /*[[${labels}]]*/ [];
      var data         = /*[[${data}]]*/ [];
      var datasetLabel = /*[[${datasetLabel}]]*/ 'Earnings';

      console.log(labels);
      console.log(data);
      console.log(datasetLabel);
  
      buildLineChart(ctx, labels, data, datasetLabel);
    });
  </script>
  
</div>
</body>
</html>
