<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/></head>
<body>

<div th:fragment="sidebar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Harpseal <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <th:block th:replace="~{fragments/sidebar_divider :: divider}"></th:block>

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>
        <th:block th:replace="~{fragments/sidebar_text :: nav_item('오늘의 날씨',@{/weather})}"></th:block>
        <th:block th:replace="~{fragments/sidebar_text :: nav_item('생필품 판매정보',@{/kca})}"></th:block>

</div>


</body>