<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>KCA</title>

  <!-- SB Admin 2 기본 -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- DataTables CSS -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
  <!-- 사이드바 -->
  <th:block th:replace="~{fragments/sidebar :: sidebar}"></th:block>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- 탑바 (파라미터 없는 버전으로 호출) -->
      <th:block th:replace="~{fragments/topbar :: topbar(${alertsCount}, ${messagesCount}, ${userName}, ${userImgSrc})}"></th:block>

      <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">생필품 판매점 위치 및 가격정보</h1>
        </div>

        <!-- 1) 지역 선택 -->
        <div class="mb-3">
          <th:block th:replace="~{fragments/region-picker :: regionPicker(
              ${upperList},
              ${lowersByUpper},
              ${selectedUpper},
              ${selectedLower},
              '적용'
          )}"></th:block>
        </div>

        <!-- 2) 지도 -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">지도</h6>
          </div>
          <div class="card-body">
            <th:block th:replace="~{fragments/kakao :: kakaoMap}"></th:block>
          </div>
        </div>

        <!-- 3) 지도 아래 설명창 -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">매장 정보</h6>
          </div>
          <div class="card-body" id="kca-detail">
            <div>마커를 클릭하면 매장 정보가 표시됩니다.</div>
          </div>
        </div>

        <!-- 4) 가격 테이블 -->
        <th:block th:replace="~{fragments/table :: dataTableCard('dataTable', '가격 목록', ${null})}"></th:block>
      </div>
    </div>

    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2021</span>
        </div>
      </div>
    </footer>
  </div>
</div>

<a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

<!-- 필수 스크립트 -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>

<!-- DataTables JS -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- 지도 아래 설명창 렌더 -->
<script>
  document.addEventListener('kca:store:selected', function(e){
    var d = e.detail || {};
    var tel  = d.entpTelno || '-';
    var addr = (d.plmkAddrBasic || '') + (d.plmkAddrDetail ? (' ' + d.plmkAddrDetail) : '');
    var panel = document.getElementById('kca-detail');
    if (!panel) return;
    panel.innerHTML =
      '<div class="mb-2" style="font-size:1.1rem;font-weight:700;">' + (d.entpName || '-') + '</div>'
      + '<div class="mb-1">전화: ' + tel + '</div>'
      + '<div class="mb-0">주소: ' + addr + '</div>';
  });
</script>

</body>
</html>
